# Created by .ignore support plugin (hsz.mobi)
.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info
lib
lib64
postsenv
**.idea
post/__pycache__/
post/migrations/__pycache__/
posts/__pycache__/
